PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/healthmate
JWT_SECRET=your_jwt_secret_here
# Twilio SendGrid Configuration
SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_SENDER_EMAIL=your_email@example.com
